@import "transitions";

$awesome-color: orange;
$extend: 10px;

#header{
	color:blue;
	h1 {
		font-size: 5em;
		border: {
			style: solid;				
			left: {
				width: 10px + $extend;
				color: red;
			}
			right: {
				width: 20px;
				color: red;
			}
			bottom: {
				width: 10px;
				color: lighten($awesome-color,10%);
			}
		}
	}
}

#content{
	.introducing-#{$awesome-color}{
		background-color: $awesome-color;
	}
}

.concluding{
	@include spin-me-right-round-baby;
	a.important{			
		&:hover {
			color: $awesome-color;			
		}				
	}
}
